# file: ~/.gitignore_global
.DS_Store
.idea
*.pyc
pycache/
.idea/
venv/
env/
*.log
*.cfg
*.conf
*.db
*.sqlite
*.pyc
*.pyo
*.pyd
pycache/
build/
dist/
*.bak
*.swp
*.tmp
.env
*.mo
*.pot
*.bak
*.backup
pip-cache/
pip-tmp/